html
{
	background: url(../images/A-Rainy-mountain-view-in-the-Scottish-Highlands-by-David-Gibbeson.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

body
{
	margin: 55px 100px;
	padding: 55px;
	background-color: rgba(0, 0, 0, .72);
}

nav
{
	margin: 20px 70px;
	padding: 10px;
	background-color: rgba(0, 0, 0, .4);
	letter-spacing: 5px;
	font: 30px "Wilhelm Klingspor Gotisch";
}

footer
{
	color: rgba(200, 200, 200, 1);
	margin: 30px;
}

/* basic stvari */
a
{
	color: rgba(128, 128, 128, 1);
	text-decoration: none;
}

p
{
	text-align: center;
	color: white;
	padding: 10px 70px;
}

h1
{
	color: white;
	font: 35px "Wilhelm Klingspor Gotisch";
	letter-spacing: 5px;
}

h3
{
	color: white;
	/*font-family: "Wilhelm Klingspor Gotisch";*/
	letter-spacing: 5px;
}

label
{
	color: rgba(128, 128, 128, 1);
}

/* liste */
ul
{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

li
{
	display: inline;
}

li a
{
	padding: 14px 16px;
}

a:hover
{
	color: white;
	text-shadow: 0 0 10px white;
}	

li a.active 
{
	color: white;
	text-shadow: 0 0 10px white;
}

li a:hover:not(.active)
{
	color: white;
	text-shadow: 0 0 10px white;
}

/* tags */
#cont
{
	margin: 10px 70px;
	padding: 30px 30px;
	background-color: rgba(0, 0, 0, .4);
	
	text-align:center;
}

/* classes */
.logo
{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 25%;
}

/* gallery buttons */
.gallery_button
{
	text: 50px;
	color: rgba(128, 128, 128, 1);
	background-color: rgba(0,0,0,0);
	border: none;
	padding: 30px 30px;
}

/* CV table */
#cv_table
{
	color: rgba(170, 170, 170, 1);
	margin: 0 10%;
	text-align: left;
	font: 14px;
	border-collapse: collapse;
}

#cv_table td, th
{
	font-weight: normal;
	border: 1px solid #222;
	padding: 10px;
}

#cv_table li
{
	display: block;
	list-style-type: circle
}